{% extends 'base.html.twig' %}

{% block body %}
 {{ parent() }}

<img id="header"src="{{ asset('images/header.jpg')}}" alt="">


<div class="container-fluid">

   {% for s in service %}

   <div class="service">


  <a href="{{path('service', { 'id': s.id })}}"><img class="card-img-top" src="{{asset ('images/'~ s.picture) }}" alt="mariage"/><h4 class="card-title">{{ s.name }}</h4></a>


  </div>

{% endfor %}
</div>
{% include 'footer.html.twig'%}
{% endblock %}
